<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor Control</title>
    <link rel="stylesheet" href="../static/styles/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Motor Control Interface
            </h1>
            <p class="subtitle">
                Control motors and view their current state(s).
            </p>
            <div id="motorsContainer"></div>
        </div>
    </section>

    <script>
        function fetchMotorsState() {
            fetch('/state')
                .then(response => response.json())
                .then(data => renderMotors(data))
                .catch(error => console.error('Error fetching motor states:', error));
        }

        function renderMotors(motors) {
            const motorsContainer = document.getElementById('motorsContainer');
            motorsContainer.innerHTML = '';
            
            Object.keys(motors).forEach(motorKey => {
                const motor = motors[motorKey];
                const motorBox = document.createElement('div');
                motorBox.className = 'box';
                motorBox.style = 'border-radius: 15px; margin-bottom: 20px;';
                
                motorBox.innerHTML = `
                    <h2 class="title is-4">${motor.name}</h2>
                    <div class="buttons">
                        <button class="button is-primary" onclick="sendCommand('${motorKey}/forward')">Forward</button>
                        <button class="button is-warning" onclick="sendCommand('${motorKey}/backward')">Backward</button>
                        <button class="button is-danger" onclick="sendCommand('${motorKey}/off')">Off</button>
                    </div>
                    <div class="notification is-info mt-5">
                        <p id="${motorKey}State">Current motor state: <strong>${motor.state}</strong></p>
                    </div>
                    <input type="range" min="0" max="100" value="${motor.pwm}" class="slider" id="${motorKey}Slider" oninput="updatePWM('${motorKey}', this.value)">
                `;
                motorsContainer.appendChild(motorBox);
            });
        }

        function sendCommand(command) {
            fetch(`/${command}`)
                .then(response => response.json())
                .then(data => updateMotorState(data))
                .catch(error => console.error('Error:', error));
        }

        function updateMotorState(data) {
            Object.keys(data).forEach(motorKey => {
                const motorStateElement = document.getElementById(`${motorKey}State`);
                if (motorStateElement) {
                    motorStateElement.innerHTML = `Current motor state: <strong>${data[motorKey].state}</strong>`;
                }
            });
        }

        function updatePWM(motorKey, value) {
            fetch(`/${motorKey}/pwm?value=${value}`)
                .then(response => response.json())
                .then(data => updateMotorState(data))
                .catch(error => console.error('Error updating PWM:', error));
        }

        window.onload = fetchMotorsState;
    </script>
</body>
</html>
